#search-area {
    padding-top: 8%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

#searchbar {
    width: 366px;
    height: 30px;
    border-radius: 5px;
    margin-right: 1%;
    border: 1px solid rgb(49, 65, 83);
    padding-left: 12px;
    font-size: 12px;
    font-style: bold;
}

#search-btn {
    border:none;
    background-color: rgb(54, 54, 54);
    color: white;
    width: 50px;
    border-radius: 2px;
}

#catchphrase-area {
    height: 10%;
    padding-bottom: 4%;
    padding-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
}

#catchphrase {
    text-align: center;
    font-size: 34px;
    font-weight: bolder;
    color: rgb(48, 48, 48);
    margin-left: 18%;
    margin-right: 20%;
    line-height: 1.4;
}

#description{
    color: white;
    padding-bottom: 100%;
}

#hr2 {
    border-top: 1px solid rgb(212, 212, 212);
    margin-right: 10%;
    margin-left: 10%;
}

#subcontent {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.box {
    color: rgb(107, 107, 107);
    padding: 28px;
    padding-bottom: 24px;
    margin-bottom: 10%;
    height: auto;
    width: 300px;
    
}

#box-title {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 4%;
    color: rgb(0, 0, 0);
}

#box-content {
    font-size: 15px;
     line-height: 1.4;
}