#top {
    display: flex;
    justify-content: space-between;
}

#mingbai_logo {
    height: 40px;
    width: 120px;
}

#add-btn {
    height: 30px;
    width: auto;
    color: white;
    background-color: rgb(19, 160, 19);
    margin: 10px;
    border:none;
    border-radius: 2px;
    font-weight: bold;
}

#quote {
    font-size: 12px;
    padding-top: 1%;
    color: rgb(129, 129, 129);
    font-style: italic;
    margin-left: 40px;
}